
<h1>Welcome</h1>
<h2>This Web Application containes all the information regarding ASP.NET Core MVC.</h2>
<h3>Following Information is being rendered from partial view:</h3>

@{<partial name="_Index" />}